.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 1000;
    width: 100vw;
    padding: 0.5em 1em;
}

.logo a {
    font-size: 2.5em; /* Adjust size as needed */
    font-weight: bold;
    color: #ffffff; /* Set the color you want */
    text-decoration: none;
    padding: 0.2em 0.4em;
    border-radius: 0.2em; /* Optional: Add some rounding to the corners */
    display: inline-block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 2em;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5em 0.8em; 
    display: block;
}

.nav-links a:hover {
    text-decoration: underline;
    background-color: blue;
    border-radius: 0.2em; 
}


/* Media Query: Hamburger menu only on smaller screens */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Hide the nav links on smaller screens */
    }

    .bm-burger-button {
        position: absolute;
        right: 100px; 
        width: 36px;
        height: 20px;
    }
}
@media(min-width: 769px){
    .bm-burger-button{
        display: none;
    }
    .nav-links{
        display: flex !important; 
        padding-right: 30px;
        
    }
}
/* react-burger-menu styles */
.bm-burger-bars {
    background: white;
    height: 4px; 
    border-radius: 2px; 
}

.bm-burger-bars-hover {
    background: blue;
}

.bm-menu {
    background: black; 
    padding: 2.5em 1.5em 0;
}

.bm-menu a {
    color: white;
    text-decoration: none;
    padding: 0.5em 0;
    font-size: 1.2em; 
    display: block;
}

.bm-menu a:hover {
    background-color: blue;
    border-radius: 0.2em;
}


.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: white;
}
